* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  margin: 0;
  background: rgb(103, 58, 180);
  background: linear-gradient(59deg, rgba(103, 58, 180, 1) 0%, rgba(29, 220, 253, 1) 100%);
}

@media(max-width: 800px) {
  body {
    flex-direction: column;
  }
}

.empty {
  height: 150px;
  width: 150px;
  margin: 10px;
  border: solid 3px #333;
  background-color: #fff;
}

.fill {
  background-image: url("https://source.unsplash.com/random/150x150");
  height: 145px;
  width: 145px;
  cursor: pointer;
}

.hold {
  border: solid 5px #ccc;
}

.hovered {
  background-color: #333;
  border-color: #fff;
  border-style: dashed;
}